<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--Header-->
    <div id="header" th:insert="common/header.html"></div>
<!--Body-->
        <a th:href="@{/post}">Click to write</a>

<!--Table of published contents-->
    <table>
        <thead>
        <tr>
            <th class="one wide">ID</th>
            <th class="ten wide">Title</th>
            <th class="two wide">Writer</th>
            <th class="three wide">Created Date</th>
        </tr>
        </thead>

        <tbody>
        <!-- CONTENTS !-->
        <tr th:each="board:${boardList}">
            <td>
                <span th:text="${board.id}"></span>
            </td>
            <td>
                <a th:href="@{'/post/' + ${board.id}}">
                    <span th:text="${board.title}"></span>
                </a>
            </td>
            <td>
                <span th:text="${board.writer}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(board.createdDate, 'MM-dd-yyyy')}"></span>
            </td>
        </tr>
        </tbody>
    </table>


<!--Footer-->
    <div id="footer" th:insert="common/footer.html"></div>
</body>
</html>